@model IEnumerable<ShoppingList.Models.ShoppingListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shoppingListId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsChecked)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shoppingListId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsChecked)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.shoppingItemId }) 
            @Html.ActionLink("Details", "Details", new { id=item.shoppingItemId }) B
            @Html.ActionLink("Delete", "Delete", new { id=item.shoppingItemId })
        </td>
    </tr>
}

</table>
